body {
    background-color: #313335;
    font-family: 'JetBrains Mono', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: white;
}

.loginbox {
    background-color: #1b1c1d;
    padding: 1.2rem;
    border-radius: 2rem;
    width: 15rem;
    height: 20rem;
    text-align: center;
}

h1 {
    margin-bottom: 1rem;
}

label {
    width: 80%;
    display: block;
    text-align: left;
    margin-bottom: 0.6rem;
}

input {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #666;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

button:hover {
    background-color: #444;
}

.forgot-password {
    display: block;
    margin-top: 1rem;
    color: #ccc;
    text-decoration: none;
}

.forgot-password:hover {
    text-decoration: underline;
}
